DATABASE_URL=postgresql://postgres:postgres@localhost:5432/myworld
APP_NAME=My World
DEBUG=true
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=$argon2id$v=19$m=65536,t=3,p=4$qj0w5SbVqEh4NAlXRAlaEw$XtR2CsyUJqyqCPCS3wdPc5ev/7gspBoYisoEmalG6n8
SECRET_KEY=a_very_secret_key_for_signing_jwt_tokens_123456
